@model figma.Models.ConfigSites

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3  col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                        <h4>
                            @if (Model.CoverImage != null)
                            {
                                <img src="~/@Model.CoverImage" />
                            }
                            else
                            {
                                <img src="~/image/logo lucas-01 1.png" />
                            }
                        </h4>

                        <div class="info-fanpage mb-4 text-white">
                            @Localizer["Thỏa sức mua sắm với chúng tôi:"] <br />

                            <a class="text-white" href="@Model.GoogleAnalytics">
                                <i class="fas fa-long-arrow-alt-right border border-primary bg-primary mr-1 mt-4"></i>
                                @{
                                    if (Model.Youtube != null)
                                    {
                                        <label> INSTAGRAM: @Model.Youtube</label>
                                    }
                                    else
                                    {
                                        <label>INSTAGRAM: Lucas58.official</label>
                                    }
                                }
                                <br />
                            </a>
                            <a class="text-white" href="@Model.LiveChat">
                                <i class="fas fa-long-arrow-alt-right border border-primary bg-primary mr-1 mt-4"></i>
                                @{
                                    if (Model.nameShopee != null)
                                    {
                                        <label>
                                            SHOPEE:  @Model.nameShopee
                                        </label>
                                    }
                                    else
                                    {
                                        <label>SHOPEE: Lucas58𝐋𝐮𝐜𝐚𝐬𝟓𝟖</label>
                                    }
                                }

                                <br />
                            </a>
                            <a class="text-white" href="@Model.urlWeb">

                                <i class="fas fa-long-arrow-alt-right border border-primary bg-primary mr-1 mt-4"></i> ️

                                @{
                                    if (Model.urlWeb != null)
                                    {
                                        <label>
                                            SHOPEE:  @Model.urlWeb
                                        </label>
                                    }
                                    else
                                    {
                                        <label>WEB: Lucas58.com.vn</label>
                                    }
                                }  <br />
                            </a>
                        </div>
                        <div class="info-icon">
                            <a href="@Model.Linkedin"><i class="fab fa-facebook-f"></i></a>
                            <a href="@Model.Twitter"> <i class="fab fa-twitter"></i></a>
                            <a href="@Model.GooglePlus"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                        <h4 class="text-white">
                            @Localizer["LIÊN HỆ"]
                        </h4>
                        <div class="info-fanpage container mt-4 text-white">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-home">
                                    </i>
                                </div>
                                <div class="col-9 content-main-fanpage">
                                    @{
                                        if (Model.ContactInfo != null)
                                        {
                                            @Html.Raw(Model.ContactInfo)
                                        }
                                        else
                                        {
                                            <div>📍 168 Nguyễn Thái Học, Ba Đình, Hà Nội ( Bến Xe Kim Mã )</div>
                                            <div>📍 96 Bùi Thị Xuân, Hai Bà Trưng, Hà Nội</div>
                                            <div> 📍 177 Cầu Giấy, Cầu Giấy, Hà Nội (Bưu Điện Cầu Giấy )</div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="icon icon-phone-number text-white">
                            <i class="fas fa-phone-volume"></i>
                            <span>

                                @if (Model.Hotline != null)
                                {
                                    <label>Hotline: @Model.Hotline</label>
                                }
                                else
                                {
                                    <label>Hotline: 0989999999</label>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                        <h4 class="text-white">
                            LINKS
                        </h4>
                        <div class="info-fanpage mt-4 ">
                            <ul class="list-group">
                                <li>
                                    <a asp-action="Index" class="text-white">
                                        @Localizer["Trang chủ"]     
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" class="text-white">
                                        @Localizer["Sản phẩm"]   
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" class="text-white">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" class="text-white">
                                        @Localizer["Liên hệ"]   
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                        <h4 class="text-white">
                            FACEBOOK FANPAGE
                        </h4>
                        <div class="embed-responsive embed-responsive-16by9">
                            @Html.Raw(Model.FbMessage)
                            @*<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgiaitri24h24p24s%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true" width="340" height="214" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>*@
                        </div>
                    </div>
                </div>
            </div>
        </footer>
}

