@model IEnumerable<figma.Models.Order>
@{
    Layout = null;
}
@*@await Component.InvokeAsync("ViewHoaDon", new { orderId = ViewBag.id })*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xem hóa đơn</title>
    <style type="text/css">
        body {
            max-width: 750px;
            margin: auto;
            font-family: Arial, sans-serif;
            font-size: 14px;
            -webkit-print-color-adjust: exact;
        }

        address {
            font-style: normal;
            line-height: 20px;
        }

        h1 {
            font-size: 20px;
            font-weight: 700;
        }

        h2 {
            border-top: 1px #ccc solid;
            padding-top: 30px;
            margin-bottom: 0;
        }

        table {
            width: 100%;
            border: 1px #ccc solid;
        }

        .form-info, .product-info {
            border: 0;
        }

            .form-info td {
                padding: 5px;
                vertical-align: top;
            }

            .form-info input, .form-info textarea {
                width: 95%;
                border: 0;
                border-bottom: 1px #ccc dotted;
                outline: none;
            }

            .form-info textarea {
                overflow: hidden;
            }

        .product-info {
            font-size: 13px;
        }

            .product-info td {
                border-top: 1px #ccc solid;
            }

            .product-info th {
                background: #ddd;
            }

        #print-btn {
            text-align: right;
        }

        #submit-btn {
            text-align: center;
        }
    </style>
    <style type="text/css" media="print">
        #print-btn, #submit-btn {
            display: none;
        }
    </style>
    @*@Styles.Render("~/Content/themes/base/css")*@
</head>
<body>
    @foreach (var item in Model)
    {


        <table>
            <tr>
                <td style="text-align: center">
                    <img src="~/image/Group 166.png" alt="Logo" width="150" />
                </td>
                <td>
                    <h1>NHƯ QUỲNH KOREA</h1>
                    <address>
                        <strong>Địa chỉ:</strong> Số 13 Ngõ 560 Nguyễn Văn Cừ, Gia Lâm Hà Nội<br />
                        <strong>Điện thoại:</strong> 098 432 1619<br />
                        <strong>Email:</strong> xuanluong16515@gmail.com
                    </address>
                    <div id="print-btn"><button type="button" onclick="window.print();">IN HÓA ĐƠN</button></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; padding-bottom: 20px;">
                    <h2>HÓA ĐƠN BÁN LẺ</h2>
                    <strong>(Mã hóa đơn: @item.MaDonHang)</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="form-info">
                        <tr>
                            <td style="width: 110px"><strong>Tên khách hàng</strong></td>
                            <td>:<input type="text" id="Name" maxlength="50" value="@item.Fullname" /></td>
                            <td style="width: 110px">
                                <strong>Số điện thoại</strong>
                            </td>
                            <td>:<input type="text" id="Mobile" maxlength="11" value="@item.Mobile" /></td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>:<input type="email" id="Email" maxlength="50" value="@item.Email" /></td>
                            <td><strong>Địa chỉ</strong></td>
                            <td><textarea id="Address" rows="3" maxlength="200">@item.Address</textarea></td>
                        </tr>
                        <tr>
                            <td><strong>Ngày đặt hàng</strong></td>
                            <td><input type="text" value="@item.CreateDate.ToString("dd/MM/yyyy")" readonly="" /></td>
                            <td><strong>Ngày giao hàng</strong></td>
                            <td><input type="text" id="TransportDate" value="@item.TransportDate.ToString("dd/MM/yyyy")" class="datepicker" /></td>
                        </tr>
                        <tr>
                            <td><strong>Ghi chú</strong></td>
                            <td colspan="3"><input type="text" name="Notice" value="@item.Body" /></td>
                        </tr>
                    </table>
                    <p id="submit-btn"><button type="button" onclick="updateInfo(@item.Id)">Cập nhật thông tin Hóa đơn</button></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="product-info">
                        <tr style="height: 50px;">
                            <th>Tên sản phẩm</th>
                            <th style="width: 80px">Đơn giá<br />(VNĐ)</th>
                            <th style="width: 80px">Số lượng</th>
                            <th style="width: 100px">Thành tiền<br />(VNĐ)</th>
                        </tr>
                        @{
                            var i = 1;
                            var total = 0m;
                        }
                        @foreach (var orderDetail in item.OrderDetails)
                        {
                            var money = orderDetail.Price * orderDetail.Quantity;
                            total += Convert.ToDecimal(money);
                            <tr>
                                <td>
                                    <p>Mã SP: <strong>NQ-@orderDetail.ProductId</strong></p>
                                    <p><strong>@i.@orderDetail.Product.Name @orderDetail.Color @orderDetail.Size</strong></p>
                                </td>
                                <td style="text-align: center;">@Convert.ToDecimal(orderDetail.Price).ToString("N0")</td>
                                <td style="text-align: center;">@orderDetail.Quantity</td>
                                <td style="text-align: right;"><strong>@Convert.ToDecimal(money).ToString("N0")</strong></td>
                            </tr>
                            i++;
                        }
                        @{
                            total = total < 500000 ? total + 30000 : total;
                        }
                        <tr style="height: 30px; font-size: 16px;">
                            <td colspan="3" style="text-align: right; padding-right: 20px;"><strong>Tổng cộng (VNĐ)</strong></td>
                            <td style="text-align: right"><strong>@total.ToString("N0")</strong></td>
                        </tr>
                        <tr style="height: 30px; font-size: 16px;">
                            <td colspan="3" style="text-align: right; padding-right: 20px;"><strong>Đã thanh toán (VNĐ)</strong></td>
                            <td style="text-align: right"><strong>@item.ThanhToanTruoc.ToString("N0")</strong></td>
                        </tr>
                        @{
                            var congno = total - item.ThanhToanTruoc;
                        }
                        <tr style="height: 30px; font-size: 16px;">
                            <td colspan="3" style="text-align: right; padding-right: 20px;"><strong>Công nợ (VNĐ)</strong></td>
                            <td style="text-align: right"><strong>@congno.ToString("N0")</strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 30px; padding-bottom: 100px;">
                    <table class="form-info">
                        <tr style="text-align: center">
                            <td><strong>KHÁCH HÀNG</strong></td>
                            <td><strong>BỘ PHẬN BÁN HÀNG</strong></td>
                            <td><strong>BỘ PHẬN GIAO HÀNG</strong></td>
                            <td><strong>KẾ TOÁN</strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        //$(".datepicker").datepicker({
        //    dateFormat: 'dd/mm/yy',
        //    minDate: 0
        //});
        function updateInfo(id) {
            var fullname = $("#Name").val();
            var mobile = $("#Mobile").val();
            var address = $("#Address").val();
            var email = $("#Email").val();
            var notice = $("#Notice").val();
            var date = $("#TransportDate").val();

            if (fullname == "") {
                alert("Bạn hãy nhập họ và tên khách hàng");
                return false;
            }
            if (mobile == "") {
                alert("Bạn hãy nhập số điện thoại khách hàng");
                return false;
            }
            if (address == "") {
                alert("Bạn hãy nhập địa chỉ khách hàng");
                return false;
            }
            if (email == "") {
                alert("Bạn hãy nhập email khách hàng");
                return false;
            }
            if (date == "") {
                alert("Bạn hãy chọn ngày giao hàng");
                return false;
            }

            $.post("/Csm/UpdateOrderInfo", { fullname, address, mobile, email, date, notice, orderId: id }, function (data) {
                if (data) {
                    alert("Cập nhật thông tin thành công");
                } else {
                    alert("Quá trình thực hiện không thành công. Hãy thử lại");
                }
            });
            return false;
        }
    </script>
</body>
</html>
