@model figma.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  decimal sumprice = 0;
}

@if (Model.CartItems.Count() > 0)
{
    <div class="container-fluid mt-5">
        <div class="row">
            <table class="col-12 col-xl-9">
                <tr>
                    <th>
                        <input class="cb-pay" id="CbPay" type="checkbox" />
                        CHỌN TẤT CẢ (3 SẢN PHẨM)
                    </th>
                    <th class="">GIÁ</th>
                    <th class="" style="width:15%">SỐ LƯỢNG</th>
                    <th class="">Xóa</th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                    //if (item.Products.SaleOff > 0)
                    //    sumprice = sumprice + item.Products.SaleOff * item.Count;
                    //else
                    //    sumprice = sumprice + item.Products.Price * item.Count;
                    <tr>
                        <td class="cart-pay-money d-flex">
                            <input class="cb-pay mr-2" type="checkbox" data-id=@item.RecordID />
                            @if (item.Products.Image != null)
                            {
                                string[] arrListStr = item.Products.Image.Split(',');
                                <img alt=@item.Products.Name
                                     src="~/@arrListStr[0]"
                                     data-image="@arrListStr[0]"
                                     asp-append-version="true" width="108" height="107">
                            }
                            else
                            {
                                <img src="~/image/Rectangle 206.png" />
                            }
                            <div class="ml-2">
                                <div class="cart-name-product">
                                    @item.Products.Name
                                </div>
                                <br />
                                <div class="cart-code-product">
                                    @if (item.Color == null && item.Size != null)
                                    {
                                        <div> Mã sản phẩm / Nhóm màu / Size: @item.ProductID/ @item.Size</div>
                                    }
                                    else if (item.Size == null && item.Color != null)
                                    {
                                        <div> Mã sản phẩm / Nhóm màu / Size: @item.ProductID/ @item.Color</div>
                                    }
                                    else if (item.Size == null && item.Color == null)
                                    {
                                        <div> Mã sản phẩm / Nhóm màu / Size: @item.ProductID</div>
                                    }
                                    else
                                    {
                                        <div> Mã sản phẩm / Nhóm màu / Size: @item.ProductID/@item.Color/@item.Size</div>
                                    }

                                </div>
                            </div>
                        </td>
                        <td class="price-pay">
                            @if (item.Products.SaleOff > 0)
                            {
                                <div class="price-product">
                                    @item.Products.SaleOff.ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR")) đ
                                </div>
                                <del class="price-sale-product">
                                    @item.Products.Price.ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR")) đ
                                </del>
                                <div class="sale-product">
                                    -@Math.Ceiling(100 - (item.Products.SaleOff / item.Products.Price) * 100)%
                                </div>
                            }
                            else
                            {
                                <div class="price-product">
                                    @item.Products.Price.ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR")) đ
                                </div>
                            }

                        </td>
                        <td class="count-text-class">
                            <div class="count-text">
                                <input type="button" value="-" id="countcart" class="qty-btn minus border-0" data-id=@item.RecordID>
                                <input style="width:30%" data-id=@item.RecordID class="quantity-selector text-center" type="text" id="quantity" name="quantity" value="@item.Count" min="1">
                                <input type="button" value="+" id="countcart" class="qty-btn plus border-0" data-id=@item.RecordID>
                            </div>
                        </td>
                        <td>
                            <button id="BtnUpdate" data-id=@item.RecordID class="btn btn-success">Cập nhật</button>
                            <button id="BtnDelete" data-id=@item.RecordID class="btn btn-danger">Xóa</button>
                        </td>
                    </tr>
                }
            </table>
            <div class="col-12 col-xl-3">
                <div class="adress-menu">
                    <span>Địa điểm</span>
                    <br />
                    <br />
                    <i class="fas fa-map-marker-alt"></i> &nbsp; Nội, Quận Hà Đông, Phường Vạn Phúc
                </div>
                <div class="price-menu mb-1 mt-3">
                    Thông tin đơn hàng
                    <div class="mb-2 mt-2 can2ben">
                        <div class="">Tạm tính (@Model.CartItems.Count() sản phẩm)</div>
                        <div class="">@Model.CartTotal.ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR")) đ</div>
                    </div>
                    <div class="can2ben">
                        <div> Phí giao hàng</div>
                        @if (Model.CartTotal < 1000000)
                        {
                            <div class="mb-3">30.000 đ</div>
                        }
                        else
                        {
                            <div class="mb-3">0 đ</div>
                        }
                    </div>
                </div>
                <form class="deal-btn-code can2ben mb-2">
                    <input type="password" class="form-control " id="inputPassword2" placeholder="Mã giảm giá">
                    <button type="submit" class="btn btn-primary btn-pay-product">ÁP DỤNG</button>
                </form>
                <div class="price-menu mt-1">
                    <div class="can2ben">
                        <div>Tổng cộng</div>
                        <div class="price-product">@(Model.CartTotal.ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR"))) đ</div>
                    </div>
                    <div class="mt-2 mb-3 text-right">Đã bao gồm VAT (nếu có)</div>
                    <button class="btn text-white bg-danger w-100">THANH TOÁN</button>
                    <button id="BtnEmptyCart" class="btn text-white bg-success w-100 mt-2">Làm trống giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2 class="text-center">Giỏ hàng của bạn hiện tại đang trống !</h2>
    <hr />
}
@await Component.InvokeAsync("ProductsCookie")


