@model figma.ViewModel.AccountViewModel;

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <link href="~/css/style-account.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

}
<h1>Account</h1>
<div class="g-signin2 d-none" data-onsuccess="onSignIn"></div>

<p>
    <a class="btn btn-danger" href="#" onclick="signOut();">Đăng xuất</a>
</p>
<script>
    function signOut() {
        try {
            var auth2 = gapi.auth2.getAuthInstance(); auth2.signOut().then(function () {
                console.log('User signed out.');
                window.location.assign('/Home/Logout')
            });
        } catch (e) {
            window.location.assign('/Home/Logout')
        }

    }
</script>
@if (ViewBag.social == "none")
{
    <section class="smb_section">
        <div class="wrapper_smb">
            <div class="gird_smb">
                <div class="grid__item_smb grid__item_smb_25">
                    <link href="//theme.hstatic.net/1000253775/1000662899/14/styles.css?v=815" rel="stylesheet" type="text/css" media="all">
                    <div class="AccountSidebar">
                        <div class="title_account">
                            <div class="title_account_img">
                                <span id="logo_user" style="background-image: url(&quot;https://static.smb.foolab.tech/images/c93396df92884cf49d1c605d4256b0ac.jpg&quot;);"></span>
                            </div>
                            <div class="content_account">
                                <h2 class="name_account">@Model.Members.Fullname</h2>
                                <p>
                                    @Model.Members.Email
                                </p>
                            </div>

                        </div>
                        <div class="AccountContent">
                            <div class="AccountList">
                                <ul class="list-unstyled nav-pills" id="pills-tab" role="tablist">
                                    <li class="current">
                                        <a asp-action="Account" asp-controller="Home" asp-route-idview="infoaccount" class="active">
                                            <span>
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <span>
                                                Hồ sơ của tôi
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="Account" asp-controller="Home" asp-route-idview="donhang">
                                            <span>
                                                <i class="fas fa-file-invoice"></i>
                                            </span>
                                            <span>
                                                Đơn hàng của tôi
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Account" asp-controller="Home" asp-route-idview="hangtv">
                                            <span> <i class="fas fa-crown"></i></span>
                                            <span>  Hạng thành viên</span>
                                        </a>
                                    </li>

                                    @*<li>
                                            <a asp-action="Account" asp-controller="Home" asp-route-idview="infoaccount">
                                                <span> <i class="fas fa-tags"></i></span>
                                                <span> Vouchers</span>
                                            </a>
                                        </li>*@

                                    <li>
                                        <a asp-action="Account" asp-controller="Home" asp-route-idview="infoaccount">
                                            <span><i class="fas fa-lock"></i></span>
                                            <span> Nhận xét của tôi</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="Account" asp-controller="Home" asp-route-idview="listlike">
                                            <span><i class="fas fa-heart"></i></span>
                                            <span>Sản phẩm yêu thích</span>
                                        </a>
                                    </li>

                                    @*<li>
                                            <a>
                                                <span><i class="fas fa-bell"></i></span>
                                                <span> Thông báo của tôi</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a>
                                                <span><i class="fas fa-lock"></i></span>
                                                <span>Đổi mật khẩu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span><i class="fas fa-file-invoice"></i></span>
                                                <span>Kiểm tra đơn hàng</span>
                                            </a>
                                        </li>*@

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item_smb grid__item_smb_75">
                    @switch (ViewBag.view)
                    {
                        case "infoaccount":
                            {
                                <div class="accounts tab-pane fade show active">
                                    <div class="accounts_title">
                                        <h2>
                                            Hồ sơ của tôi
                                        </h2>
                                    </div>
                                    <div class="accounts_main">
                                        <div class="account">
                                            <div class="image_loading" style="display: none;">
                                                <img src="https://file.hstatic.net/1000187248/file/spinner_6dbec68bd28a42718f17704bf42d58e7.gif" alt="image loading">
                                            </div>
                                            <div class="account_col">
                                                <div class="account_main">
                                                    <label asp-for="Members.Fullname">Họ và tên</label>
                                                    <span asp-validation-for="Members.Fullname" class="error_input"></span>
                                                    <input type="text" asp-for="Members.Fullname" placeholder="Nhập tên đầy đủ của bạn" />
                                                </div>
                                            </div>

                                            <div class="account_col">
                                                <div class="account_main">
                                                    <label asp-for="Members.Email"></label>
                                                    <span asp-validation-for="Members.Fullname" class="error_input"></span>
                                                    <input asp-for="Members.Email" disabled type="text" placeholder="Nhập Email của bạn" />
                                                </div>
                                            </div>

                                            <div class="account_col">
                                                <div class="account_main">
                                                    <label asp-for="Members.Mobile">Số điện thoại</label>
                                                    <span asp-validation-for="Members.Fullname" class="error_input"></span>
                                                    <input asp-for="Members.Mobile" type="text" placeholder="Nhập số điện thoại của bạn" />
                                                </div>
                                            </div>

                                            @*<div class="account_col">
                                                    <div class="account_main">
                                                        <label>Ngày sinh</label>
                                                        <span class="error_input">* Ngày sinh không hợp lệ</span>
                                                        <input id="dob" type="text" name="edit" placeholder="Nhập ngày sinh của bạn">
                                                    </div>
                                                </div>*@
                                            @*<div class="account_col account_col_seeq">
                                                    <div class="account_main w-100">
                                                        <label>Giới tính</label>
                                                        <div class="genders">
                                                            <div class="gender">
                                                                <input id="gender_m" type="radio" name="gender" value="m">
                                                                <label for="gender_m">
                                                                    <span class="sp_input"></span>
                                                                    <span class="sp_lable">Nam</span>
                                                                </label>
                                                            </div>

                                                            <div class="gender">
                                                                <input id="gender_f" type="radio" name="gender" value="f">
                                                                <label for="gender_f">
                                                                    <span class="sp_input"></span>
                                                                    <span class="sp_lable">Nữ</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="account_col">
                                                <div class="account_main">
                                                    <label asp-for="Members.Address">Địa chỉ</label>
                                                    <span asp-validation-for="Members.Address" class="alert_err"></span>
                                                    <input type="text" asp-for="Members.Address" placeholder="Nhập địa chỉ đầy đủ">
                                                </div>
                                            </div>
                                            @*<script>
                                                    var huyen = $("#Members_Address").val().split(',')[2].replace("huyện", "Huyện");
                                                    //for (var i = 0; i < $(".slect_district option").length; i++) {
                                                    //    if ($(".slect_district option")[i].val().indexOf(huyen))
                                                    //        console($(".slect_district option")[i].val());

                                                    //}
                                                    $(".slect_district option").each(function (index) {
                                                        if ($(this).text().indexOf(huyen))
                                                            console.log(index + ": " + $(this).text());
                                                    });
                                                </script>
                                                <div class="account_col">
                                                    <div class="account_main">
                                                        <label>Tỉnh/Thành phố</label>
                                                        <span class="alert_err"></span>
                                                        <select class="slect_city" value="">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="account_col">
                                                    <div class="account_main">
                                                        <label>Quận huyện</label>
                                                        <span class="alert_err"></span>
                                                        <select class="slect_district" value="">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="account_col">
                                                    <div class="account_main">
                                                        <label>Ảnh đại diện</label>
                                                        <span class="error_input"></span>

                                                        <div class="account_avatar">
                                                            <div class="avatar_img">
                                                                <lable for="avatar">Chọn ảnh</lable>

                                                                <input id="avatar" type="file">

                                                            </div>

                                                            <div id="imgTest" style="display: none;"></div>

                                                        </div>

                                                    </div>
                                                </div>*@
                                            <div class="account_col ">
                                                <div class="account_main col_main_submit">
                                                    @*<button id="cancel_info">
                                                            <span>
                                                                Huỷ bỏ
                                                            </span>
                                                            <img src="https://file.hstatic.net/1000187248/file/spinner_6dbec68bd28a42718f17704bf42d58e7.gif" alt="image loading">
                                                        </button>*@
                                                    <button id="submit_info">
                                                        <span>
                                                            Xác nhận
                                                        </span>
                                                        <img src="https://file.hstatic.net/1000187248/file/spinner_6dbec68bd28a42718f17704bf42d58e7.gif" alt="image loading">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            break;
                        case "hangtv":
                            { <div class="row style_add " style="overflow: auto;">
                                    <div class="title_address">
                                        <h3>
                                            Hạng thành viên
                                        </h3>
                                    </div>
                                    <div id="customer_membership">
                                        <div class="customer_membership grid" style="border-bottom: 1px solid #ccc;margin-left: 0;">
                                            <div class="grid__item large--two-fifths medium--two-fifths text-center left_cus pd-left0">
                                                <div class="customer_member_rank_img">

                                                </div>
                                            </div>
                                            <div class="grid__item large--three-fifths medium--three-fifths right_cus">
                                                <div class="title_member">
                                                    <h3>
                                                        Tích lũy chi tiêu hiện tại
                                                    </h3>
                                                    <div class="totalSpent">

                                                    </div>

                                                    <div class="member_rank_title">

                                                        <p>Bạn chưa có hạng thành viên</p>
                                                    </div>
                                                    <div id="title_upRank">

                                                    </div>
                                                    <div id="progress-bar">
                                                        <div id="progress"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table_member" style="margin-top: 30px;overflow: auto;">
                                        <div class="table_member1">
                                            <table id="member_ship">
                                                <tbody>
                                                    <tr id="tr_title1" style="text-transform: uppercase;">
                                                        <th style="width: 270px;height: 100px;">Quyền Lợi</th>

                                                        <th><img src="https://file.hstatic.net/1000253775/file/member_210773cf30a84de1b0eeffe5895a173c.png" alt="MEMBER"><br>MEMBER</th>
                                                        <th><img src="https://file.hstatic.net/1000253775/file/silver_78ae351a93804671b87a21c6fae2a695.png" alt="SILVER"><br>SILVER</th>
                                                        <th><img src="https://file.hstatic.net/1000253775/file/gold_c2ca9ca998dc474cbd520bb3720eb96a.png" alt="GOLD"><br>GOLD</th>
                                                        <th><img src="https://file.hstatic.net/1000253775/file/diamond_0f1184b3b01648a3982b349be356b17c.png" alt="DIAMOND"><br>DIAMOND</th>
                                                    </tr>
                                                    <tr id="tr_title2">
                                                        <td style="height: 90px;">Tích lũy chi tiêu</td>
                                                        <td style="white-space: nowrap;">0₫ - 4,000,000₫</td>
                                                        <td style="white-space: nowrap;">4,000,001₫ - 12,000,000₫</td>
                                                        <td style="white-space: nowrap;">12,000,001₫ - 30,000,000₫</td>
                                                        <td style="white-space: nowrap;">30,000,001₫ - 999,999,999₫</td>
                                                    </tr>
                                                    <tr id="tr_title3">
                                                        <td style="height: 90px;">Ưu đãi thành viên</td>

                                                        <td>là thành viên</td>
                                                        <td>GIảm 5% tổng đơn</td>
                                                        <td>Giảm 10% tổng đơn</td>
                                                        <td>GIảm tổng đơn 15%</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>}
                            break;
                        case "donhang":
                            {
                                @await Component.InvokeAsync("DonHang")
                            }
                            break;
                        case "listlike":
                            {
                                @await Component.InvokeAsync("ListProductsLike")
                            }
                            break;
                    }

                    @*

                        <div class="accounts VOUCHERS ">
                            <div class="accounts_title">
                                <h2>
                                    Vouchers của tôi
                                </h2>
                            </div>
                            <p class="data_error">* Có lỗi vui lòng thử lại, hoặc đăng nhập lại</p>
                            <div class="vouchers_main">
                                <div class="image_loading" style="display: none;">
                                    <img src="https://file.hstatic.net/1000187248/file/spinner_6dbec68bd28a42718f17704bf42d58e7.gif" alt="image loading">
                                </div>
                                <div class="voucher">
                                    <p class="data_empty" style="display: block;">Hiện tại bạn chưa có Mã Voucher nào</p>
                                </div>
                            </div>
                        </div>
                        <div class="accounts fa-comment">
                            <div class="accounts_title">
                                <h2>
                                    Nhận xét của tôi
                                </h2>
                            </div>
                            <div class="accounts_main">
                                <div class="image_loading" style="display: none;">
                                    <img src="https://file.hstatic.net/1000187248/file/spinner_6dbec68bd28a42718f17704bf42d58e7.gif" alt="image loading">
                                </div>
                                <div class="account">
                                    <p class="data_empty" style="display: block;">Hiện tại bạn chưa có nhận xét nào</p>
                                    <div class="account_append">

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="accounts">
                            <div class="accounts_title">
                                <h2>
                                    Đổi mật khẩu
                                </h2>
                                <p class="update_info_err">
                                    *	Gửi Email lỗi, vui lòng thử lại
                                </p>
                                <p class="data_error" style="color: rgb(0, 0, 255); display: none;">Hướng dẫn đổi mật khẩu đã được gửi đến Email của bạn vui lòng kiểm tra</p>
                            </div>

                            <div class="reset_pass_main">
                                <div class="reset_pas">

                                    <div class="reset_pas_col">
                                        <div class="reset_pas_col_main">
                                            <label>Nhập email của bạn</label>
                                            <span class="reset_pas_new" style="display: none;"></span>
                                            <input id="email" type="email" name="pass" placeholder="Nhập email của bạn">
                                        </div>
                                    </div>

                                    <div class="reset_pas_col">
                                        <div class="reset_pas_col_main">
                                            <button id="reset_pass" type="submit" class="">
                                                <img src="https://file.hstatic.net/1000187248/file/spinner_6dbec68bd28a42718f17704bf42d58e7.gif" alt="image loading">
                                                <span>Gửi</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>

    @*<script>

            // Example POST method implementation:
            async function postData(url = '') {
                // Default options are marked with *
                const response = await fetch(url, {
                    method: 'GET', // *GET, POST, PUT, DELETE, etc.
                    mode: 'cors', // no-cors, *cors, same-origin
                    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: 'same-origin', // include, *same-origin, omit
                    headers: {
                        'Content-Type': 'application/json'
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: 'follow', // manual, *follow, error
                    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                    // body: JSON.stringify(data) // body data type must match "Content-Type" header
                });
                return response.json(); // parses JSON response into native JavaScript objects
            }

            postData('/api')
                .then(data => {
                    for (var i = 0; i < data.LtsItem.length; i++) {
                        $(".slect_city").append("<option value=" + data.LtsItem[i].ID + ">" + data.LtsItem[i].Title + "</option>");
                    }
                });
            postData('/api/gethuyen/1')
                .then(data => {
                    for (var i = 0; i < data.length; i++) {
                        $(".slect_district").append("<option value=" + data[i].ID + ">" + data[i].Title + "</option>");
                    }
                });

        </script>*@
}
else
{
    <h2>Bạn đang đăng nhập bằng @ViewBag.social nha, và Hợp hông có lưu trữ thông tin của bạn nha !</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @ViewBag.name
                </td>

                <td>
                    @ViewBag.id
                </td>
            </tr>
        </tbody>
    </table>
}






