@model IEnumerable<figma.Models.Members>

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account</h1>
<div class="g-signin2 d-none" data-onsuccess="onSignIn"></div>

<p>
    <a href="#" onclick="signOut();">Đăng xuất</a>
</p>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance(); auth2.signOut().then(function () {
            console.log('User signed out.');
            window.location.assign('/Home/Logout')
        });
    }
</script>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
                        </td>*@
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <h2>Bạn đang đăng nhập bằng @ViewBag.social nha !</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @ViewBag.name
                </td>

                <td>
                    @ViewBag.id
                </td>
            </tr>
        </tbody>
    </table>
}

