
@model figma.ViewModel.HomeViewModel
@{
    foreach (var item in Model.ConfigSites)
    {
        if (item.Title != null)
        {
            ViewData["Title"] = item.Title;
            ViewData["Description"] = item.Description;
        }
        else
            ViewData["Title"] = "Shop Online";
        break;
    }
}


<div class="home-index">
    <div class="banner">
        <img class="" src="~/image/Rectangle 2.png" style="opacity:0;" />
        @{
            foreach (var item in Model.Banners.Where(a => a.GroupId == 1).Take(3))
            {
                <input type="hidden" class="srcBanners" value="@item.CoverImage" />
            }
        }
    </div>
    <div id="carouselExampleIndicators" class="carousel slide wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-ride="carousel" style="margin:10px">
        <div class="carousel-inner">
            @{
                if (Model.Banners.Where(a => a.GroupId == 2).Take(3).Count() <= 3 && Model.Banners.Where(a => a.GroupId == 2).Take(3).Count() > 0)
                {
                    int count = Model.Banners.Where(a => a.GroupId == 2).Take(3).Count();
                    <div class="carousel-item active container-fluid">
                        <div class="row">
                            @{

                                double delay = 1;
                                string delayS = "" + delay + "s";
                                foreach (var item in Model.Banners.Where(a => a.GroupId == 2).Take(3))
                                {
                                    <div class="col-@(12 / count) carousel-item-info wow animate__fadeInUpBig"
                                         data-wow-duration=@delayS data-wow-delay="0.5s">
                                        <img src="~/@item.CoverImage" class="d-block w-100" alt="...">
                                        <div class="title-caro">
                                            <p class="title-small">@item.Title</p>
                                            <p class="title-long text--1">@item.Content</p>
                                        </div>

                                    </div>
                                    delay = delay + 0.3;
                                    delayS = "" + delay + "s";
                                }
                            }
                        </div>

                    </div>
                }
                if (Model.Banners.Where(a => a.GroupId == 2).Skip(3).Take(3).Count() <= 3 && Model.Banners.Where(a => a.GroupId == 2).Skip(3).Take(3).Count() > 0)
                {
                    int count = Model.Banners.Where(a => a.GroupId == 2).Skip(3).Take(3).Count();
                    <div class="carousel-item container-fluid">
                        <div class="row">
                            @{

                                double delay = 1;
                                string delayS = "" + delay + "s";
                                foreach (var item in Model.Banners.Where(a => a.GroupId == 2).Skip(3).Take(3))
                                {
                                    <div class="col-@(12 / count) carousel-item-info" @*wow animate__fadeInUpBig"
                                         data-wow-duration=@delayS data-wow-delay="0.5s"*@>
                                        <img src="~/@item.CoverImage" class="d-block w-100" alt="...">
                                        <div class="title-caro">
                                            <p class="title-small">@item.Title</p>
                                            <p class="title-long text--1">@item.Content</p>
                                        </div>

                                    </div>
                                    delay = delay + 0.3;
                                    delayS = "" + delay + "s";
                                }
                            }
                        </div>
                    </div>
                }
                if (Model.Banners.Where(a => a.GroupId == 2).Skip(6).Take(3).Count() <= 3 && Model.Banners.Where(a => a.GroupId == 2).Skip(6).Take(3).Count() > 0)
                {
                    int count = Model.Banners.Where(a => a.GroupId == 2).Skip(6).Take(3).Count();
                    <div class="carousel-item container-fluid">
                        <div class="row">
                            @{
                                double delay = 1;
                                string delayS = "" + delay + "s";
                                foreach (var item in Model.Banners.Where(a => a.GroupId == 2).Skip(6).Take(3))
                                {
                                    <div class="col-@(12 / count) carousel-item-info" @*wow animate__fadeInUpBig"
                                         data-wow-duration=@delayS data-wow-delay="0.5s"*@>
                                        <img src="~/@item.CoverImage" class="d-block w-100" alt="...">
                                        <div class="title-caro">
                                            <p class="title-small">@item.Title</p>
                                            <p class="title-long text--1">@item.Content</p>
                                        </div>

                                    </div>
                                    delay = delay + 0.3;
                                    delayS = "" + delay + "s";
                                }
                            }
                        </div>
                    </div>
                }
            }

        </div>
        <a class="carousel-control-prev carousel-btn" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon carousel-control-prev-icon-one" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-btn" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon carousel-control-prev-icon-one" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            @{

                int countSlide = 0;
                if ((Model.Banners.Where(a => a.GroupId == 2).Count()) % 3 != 0)
                    countSlide = ((Model.Banners.Where(a => a.GroupId == 2).Count()) / 3) + 1;
                else
                    countSlide = (Model.Banners.Where(a => a.GroupId == 2).Count()) / 3;
                for (int i = 0; i < countSlide; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                    }
                }
            }
        </ol>
    </div>
    <div class="welcome">
        <div class="title-we mt-5 mb-5 wow animate__fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
            Chào mừng bạn đến với Lucas58
        </div>
        <div class="list-trend">
            <div>
                <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class=" active text-header1 text-header wow animate__fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Hàng mới về</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-header1 text-header wow animate__fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.5s" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Xu hướng</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-header1 text-header wow animate__fadeInUpBig" data-wow-duration="1.6s" data-wow-delay="0.5s" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Nổi bật</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-header1 text-header wow animate__fadeInUpBig" data-wow-duration="1.9s" data-wow-delay="0.5s" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" aria-controls="pills-new" aria-selected="false">Đặc điểm</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="container animate__zoomIn">
                            <div class="row " data-wow-duration="2s">
                                @{
                                    if (Model.Products.Count() > 0)
                                    {
                                        double delay = 1;
                                        string delayS = "" + delay + "s";
                                        @foreach (var item in Model.Products)
                                        {
                                            string[] arrListStr = item.Image.Split(',');

                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow animate__slideInUp"
                                                 data-wow-duration="@delayS" data-wow-delay="0.5s">
                                                <a asp-controller="Home" asp-action="Privacy">
                                                    <div class="card-product">
                                                        <div class="product-hover ">
                                                            <img src="/@arrListStr[0]" />
                                                            <div class="card-tool w-100">
                                                                <a class="card-tool-btn btn-1">
                                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                                    </svg>
                                                                </a>
                                                                <a class="card-tool-btn btn-2">
                                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
                                                                        <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                                                                        <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @{
                                                            if (item.SaleOff > 0)
                                                            {
                                                                <span class="card-top card-sale">Sale @Math.Ceiling((item.Price / item.SaleOff) * 100 - 100)%</span>
                                                            }
                                                            else if (item.Hot)
                                                            {
                                                                <span class="card-top card-new">NEW</span>
                                                            }
                                                            else if (item.Sort < 5)
                                                            {
                                                                <span class="card-top card-top">TOP</span>

                                                            }
                                                        }

                                                        <div class="review">
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                            </svg>
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                            </svg>
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                            </svg>
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                            </svg>
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                            </svg>
                                                        </div>
                                                        <p class="title-namesp">@item.Name</p>
                                                        @{
                                                            if (item.SaleOff > 0)
                                                            {
                                                                <p class="pricesp">@(item.SaleOff)đ  <del class="text-black-50">@(item.Price)đ</del></p>
                                                            }
                                                            else
                                                            {
                                                                <p class="pricesp">@(item.Price)đ</p>

                                                            }
                                                        }

                                                    </div>
                                                </a>
                                            </div>
                                            delay = delay + 0.3;
                                            delayS = "" + delay + "s";
                                        }
                                    }
                                }
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="container animate__zoomIn">
                            <div class="row " data-wow-duration="2s">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6 animate__slideInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                                    <a asp-controller="Home" asp-action="Privacy">
                                        <div class="card-product">
                                            <div class="product-hover">
                                                <img src="/image/Rectangle 9 (2).png" />
                                                <div class="card-tool w-100">
                                                    <a class="card-tool-btn btn-1">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                        </svg>
                                                    </a>
                                                    <a class="card-tool-btn btn-2">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
                                                            <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                                                            <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>

                                            <span class="card-top card-top">TOP</span>

                                            <div class="review">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            </div>
                                            <p class="title-namesp">VN STELLA hồng CỔ VUÔNG CHUN VAi TAY CỘC DỌC CÚC BỌC</p>
                                            <p class="pricesp">550.000 đ</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="container animate__zoomIn">
                            <div class="row " data-wow-duration="2s">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6  animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <a asp-controller="Home" asp-action="Privacy">
                                        <div class="card-product">
                                            <div class="product-hover ">
                                                <img src="/image/Rectangle 9 (2).png" />
                                                <div class="card-tool w-100">
                                                    <a class="card-tool-btn btn-1">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                        </svg>
                                                    </a>
                                                    <a class="card-tool-btn btn-2">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
                                                            <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                                                            <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>

                                            <span class="card-top card-sale">Sale 24%</span>

                                            <div class="review">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            </div>
                                            <p class="title-namesp">VN STELLA hồng CỔ VUÔNG CHUN VAi TAY CỘC DỌC CÚC BỌC</p>
                                            <p class="pricesp">550.000 đ</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
                        <div class="container animate__zoomIn">
                            <div class="row " data-wow-duration="2s">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6  animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <a asp-controller="Home" asp-action="Privacy">
                                        <div class="card-product">
                                            <div class="product-hover ">
                                                <img src="/image/Rectangle 9 (2).png" />
                                                <div class="card-tool w-100">
                                                    <a class="card-tool-btn btn-1">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                        </svg>
                                                    </a>
                                                    <a class="card-tool-btn btn-2">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
                                                            <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                                                            <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>

                                            <span class="card-top card-sale">Sale 24%</span>

                                            <div class="review">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            </div>
                                            <p class="title-namesp">VN STELLA hồng CỔ VUÔNG CHUN VAi TAY CỘC DỌC CÚC BỌC</p>
                                            <p class="pricesp">550.000 đ</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome bst mt-5">
        <p class="title-long title-we wow animate__fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
            Các bộ sưu tập mới nhất
        </p>
        <div class="list-trend">
            <div class=" text-center wow animate__fadeInLeftBig" data-wow-duration="1.2s" data-wow-delay="0.5s">
                <p>Ghé thăm cửa hàng của chúng tôi để cập nhập những BST thời trang thiết kế mới nhất</p>

            </div>
            <div class="container-fluid mt-5">
                <div class="row">
                    @foreach (var item in Model.Banners.Where(a => a.GroupId == 3))
                    {
                        <div class="col-6 image-ava4 wow animate__zoomIn dichlen">
                            <img src="~/@item.CoverImage" />
                        </div>
                        break;
                    }
                    <div class="col-6 container-fluid">
                        <div class="row h-100">
                            @foreach (var item in Model.Banners.Where(a => a.GroupId == 4))
                            {
                                if (item.Width < 699)
                                {
                                    <div class="col-6 h-50  wow animate__zoomInDown dichlen">
                                        <img src="~/@item.CoverImage" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12  wow animate__zoomInDown dichlen">
                                        <img src="~/@item.CoverImage" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="welcome tintuc">
    <p class="title-long title-we mb-5 mt-5 wow animate__fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
        Tin tức
    </p>
    <div class="list-trend d-flex justify-content-center container">
        <div class="row">
            <div class="col-4 wow animate__fadeInLeft info-update" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="box-shadow">
                    <img src="~/image/Rectangle 63 (1).png" />
                    <div class="info">
                        <p class="info-date"> 30 tháng 8, 2020</p>
                        <h5 class="info-title"> LUCAS VIP MEMBER</h5>
                        <spn class="info-text"> ĐIỀU KIỆN THAM GIA CHƯƠNG TRÌNH : 1.TÍCH LUỸ SỐ ĐIỂM TƯƠNG ĐƯƠNG SỐ TIỀN MUA HÀNG TRÊN 3.000.000VND QUÝ KHÁCH SẼ SỞ HỮU...</spn>
                    </div>
                    <a class="info-continue">Xem thêm</a>
                </div>
            </div>
            <div class="col-4 wow animate__fadeInLeft info-update" data-wow-duration="1.5s" data-wow-delay="0.5s">
                <div class="box-shadow">
                    <img src="~/image/Rectangle 63.png" />
                    <div class="info">
                        <p class="info-date"> 30 tháng 8, 2020</p>
                        <h5 class="info-title"> SALE upto 70% TẤT CẢ SẢN PHẨM</h5>
                        <spn class="info-text"> Rộn ràng đón mừng năm mới 2019 với chương trình SALE lớn nhất trong năm tại LUCAS - ưu đãi lên đến 70% cho tất cả các sản phẩm</spn>
                    </div>
                    <a class="info-continue">Xem thêm</a>
                </div>
            </div>
            <div class="col-4 wow animate__fadeInLeft info-update" data-wow-duration="2s" data-wow-delay="0.5s">
                <div class="box-shadow">
                    <img src="~/image/Rectangle 63 (2).png" />
                    <div class="info">
                        <p class="info-date"> 30 tháng 8, 2020</p>
                        <h5 class="info-title">SALE upto 70% TẤT CẢ SẢN PHẨM</h5>
                        <spn class="info-text">Mùa giáng sinh - mùa của những " MÓN QUÀ" đã chính thức tới rồi .🎅🏻🎅🏻🎅🏻 Như một lời cảm ơn đến các LUCAS girls, Noel này...</spn>
                    </div>
                    <a class="info-continue">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100" role="document">
        <div class="modal-content container">
            <div class="modal-header row p-0">

                <div class="image-header col-3 p-0">
                    <img src="~/image/Rectangle 214.png" />
                </div>
                <div class="col-9 popup-info">
                    <div class="popup-title">
                        Nhận voucher cho khách hàng mới tại Lucas58
                    </div>
                    <div class="popup-sale">
                        Giảm giá 10%
                    </div>
                    <div class="popup-text popup-title text-center">
                        Nhận tin tức về sản phẩm mới nhất, khuyến mãi, ưu đãi cho khách hàng vip hàng ngày trong hòm thư email của bạn
                    </div>
                    <div class="popup-email">
                        <input type="text" class="form-control " id="" placeholder="NHẬP EMAIL CỦA BẠN">
                        <button>Lấy mã</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



