
@model figma.ViewModel.ProductDetailViewModel

@{
    ViewData["Title"] = Model.Product.TitleMeta ?? Model.Product.Name;
    ViewData["Description"] = Model.Product.DescriptionMeta ?? Model.Product.Name;

    if (Model.Product.Image != null)
    {
        // ViewBag.ImagShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/products/", Model.Product.Image.Split(',')[0]);
        ViewBag.ImagShare = Model.Product.Image.Split(',')[0];
    }
    SlugCovert slugCovert = new SlugCovert();
}


<div class="breadcrumb-shop ">
    <div class="cpd5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                <li class="breadcrumb-item"><a asp-action="" asp-route-data="@Model.RootCategory.ProductCategorieID">@Model.RootCategory.Name</a></li>
                <li class="breadcrumb-item active id_check_idsp d-none" aria-current="page">@Model.Product.ProductID</li>
            </ol>
        </nav>
    </div>
</div>

<div id="product" class=" productDetail-page productTemplate mt-2 p-5" data-style="style_01">
    <div class="row product-detail-main pr_style_01">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 product-detail-image ">
            <div class="">
                <div class="slider slider-for">
                    @{
                        if (Model.Product.Image != null)
                        {
                            string[] arrListStr = Model.Product.Image.Split(',');
                            for (int i = 0; i < arrListStr.Length; i++)
                            {
                                <div class="product-gallery__thumb ">
                                    <img alt=@Model.Product.Name
                                         src="@arrListStr[i]"
                                         data-image="@arrListStr[i]"
                                         asp-append-version="true">
                                </div>
                            }
                        }
                    }
                </div>
                <div class="slider slider-nav">
                    @{
                        if (Model.Product.Image != null)
                        {
                            string[] arrListStr = Model.Product.Image.Split(',');
                            for (int i = 0; i < arrListStr.Length; i++)
                            {
                                <div class="product-gallery__thumb ">
                                    <img alt=@Model.Product.Name
                                         src="@arrListStr[i]"
                                         data-image="@arrListStr[i]"
                                         asp-append-version="true">
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 product-detail-infomation">
            <div class="product-detail-top">
                <p class="font-weight-bold">@Model.Product.Name</p>
                <p class="pro-price highlight">

                    @{
                        if (Model.Product.SaleOff > 0)
                        {
                            <span class="pro-price-del"><del class="compare-price">@Model.Product.Price₫</del></span>
                            <span class="giaban">@Model.Product.SaleOff₫</span>
                        }
                        else
                        {
                            <span class="giaban">@Model.Product.Price₫</span>
                        }
                    }

                </p>
                <p class="review">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <span>2 đánh giá !</span>
                </p>


            </div>
            <div class="product-detail-mid">
                <p class="mid-code">Mã:<span> @Model.Product.Description</span></p>
                @{
                    string h = " ";
                    if (Model.Product.StatusProduct)
                    {
                        <p class="mid-tt">Tình trạng:<span> Còn hàng</span></p>
                    }
                    else
                    {
                        <p class="mid-tt">Tình trạng:<span> Hết hàng</span></p>
                    }
                }

                <p class="mid-bst">Bộ sưu tập:<span> @Model.Collection.Name</span></p>
                <p class="mid-pl">Phân loại:<span> @Model.RootCategory.Name</span></p>
                <p class="mid-bc">Barcode:<span> @Model.Product.BarCode</span></p>
                <p class="mid-tag">
                    Tag:<span>
                        @if (Model.TagProducts.Count() > 0)
                            @foreach (var item in Model.TagProducts)
                            {
                                @item.Tags.Name @h

                            }

                    </span>
                </p>
            </div>

            <div id="variant-swatch-0" class="swatch clearfix optionSwatch" data-option="option2" data-option-index="1">
                <div class="header">Màu sắc</div>
                <div class="select-swap">
                    @{
                        if (Model.ProductSizeColors.Where(a => a.ProductID == Model.Product.ProductID) != null)
                            @foreach (var item in Model.ProductSizeColors)
                            {
                                if (item.ProductID == Model.Product.ProductID && item.Color.Code.Length > 1)
                                {
                                    <div data-value="@item.Color.NameColor" class="swatch-element @item.Color.NameColor ">
                                        <input class="variant-1" id="swatch-1-red" type="radio" name="option2" value="S">
                                        <label class="lbSwatch" for="swatch-1-@item.Color.NameColor"
                                               style="background-color:@item.Color.Code">
                                            <img alt="sold-out" class="crossed-out" src="//theme.hstatic.net/1000253775/1000571612/14/soldout.png?v=370">
                                            <img alt="select-pro" class="img-check" src="//theme.hstatic.net/1000253775/1000571612/14/select-pro.png?v=370">
                                        </label>
                                    </div>
                                }
                            }
                    }
                </div>
            </div>
            @*//////////*@
            <div id="variant-swatch-1" class="swatch clearfix optionSwatch " data-option="option2" data-option-index="1">
                <div class="header">SIZE</div>
                <div class="select-swap">
                    @{
                        if (Model.ProductSizeColors.Where(a => a.ProductID == Model.Product.ProductID) != null)
                            @foreach (var item in Model.ProductSizeColors.Where(a => a.ProductID == Model.Product.ProductID).GroupBy(a => a.Size.SizeProduct))
                            {
                                if (!item.Key.Contains("Size") && item.Key.Length > 0)
                                {
                                    <div data-value="@item.Key" class="swatch-element @item.Key">
                                        <input class="variant-1" id="swatch-1-@item.Key" type="radio" name="option2" value="@item.Key">
                                        <label class="lbSwatch" for="swatch-1-@item.Key">
                                            @item.Key
                                            <img alt="sold-out" class="crossed-out" src="//theme.hstatic.net/1000253775/1000571612/14/soldout.png?v=370">
                                            <img alt="select-pro" class="img-check" src="//theme.hstatic.net/1000253775/1000571612/14/select-pro.png?v=370">
                                        </label>
                                    </div>
                                }
                            }
                    }
                </div>
            </div>


            <div class="product-detail-info">
                <i class="fas fa-tshirt mr-3" data-toggle="modal" data-target="#exampleModal"> Bảng size</i>
                <i class="fas fa-truck mr-3"> Vận chuyển</i>
                <i class="far fa-envelope" data-toggle="modal" data-target="#exampleModal1"> Đặt câu hỏi về sản phẩm này</i>
            </div>
            <div class="selector-actions">

                <div class="quantity-area clearfix">
                    <div class="count-number">
                        <input type="button" value="-" class="qty-btn minus">
                        <input class="quantity-selector count-cart-pay" type="text" id="quantity" name="quantity" value="1" min="1">
                        <input type="button" value="+" class="qty-btn plus">
                    </div>
                    <button type="button" class="btn btn-success float-right glow-on-hover" id="add-to-cart">
                        <i class="fas fa-shopping-bag"></i>
                        <span> Thêm vào giỏ hàng</span>
                    </button>
                </div>
                <div class="btn-like-select">
                    <button type="button" class="btn btn-outline-primary btn-like-add">
                        <i class="far fa-heart"></i>
                        <span> Thêm vào yêu thích</span>
                    </button>
                    <button type="button" class="btn btn-outline-danger float-right bg-danger text-white" id="pay-product-late">Mua ngay</button>
                </div>

            </div>
            <div class="icon detail-icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
        </div>
    </div>
</div>

<div class="review-detail container-fluid p-5">
    <div class="review-detail-danhgia d-flex justify-content-between">
        <p class="review-p p-4">Đánh giá</p>
        <div class=" p-4">
            <div class="review-detail-danhgia-soft">
                <i class="fas fa-filter"></i>
                <a>Sắp xếp:</a>
                <span>Liên quan</span>
                <i class="far fa-window-minimize " style="transform:rotate(90deg)"></i>
                <i class="fas fa-sort-amount-up-alt"></i>
                <i class="fas fa-sort"></i>
                <a>Lọc:</a>
                <span>Tất cả Sao</span>
            </div>
        </div>
    </div>
    <div class="w-100 review-client pl-4 pr-4">
        <div class="review-client-main mt-5">
            <div class="review-client-main-header d-flex">
                <img src="~/image/Rectangle 14.png" />
                <div class="header-info ml-3">
                    <div class="p-0 mt-2">Nguyễn Minh Trang </div>
                    <div class="review">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="review-client-main-main mt-3 mb-3">Shop đóng gói cẩn thận, lên đơn và giao hàng nhanh. Sản phẩm chính hãng, thiết kế đẹp. Sau 01 ngày sử dụng thấy rất ok.</div>
            <span class="review-client-main-footer ">20:30 23/04/2020</span>
        </div>
        <hr />

        <div class="review-client-main mt-5">
            <div class="review-client-main-header d-flex">
                <img src="~/image/Rectangle 14.png" />
                <div class="header-info ml-3">
                    <div class="p-0 mt-2">Nguyễn Minh Trang </div>
                    <div class="review">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="review-client-main-main mt-3 mb-3">Shop đóng gói cẩn thận, lên đơn và giao hàng nhanh. Sản phẩm chính hãng, thiết kế đẹp. Sau 01 ngày sử dụng thấy rất ok.</div>
            <span class="review-client-main-footer ">20:30 23/04/2020</span>
        </div>
    </div>
</div>
<div>
    <h3 class="text-center mt-5 mb-4">Sản phẩm cùng danh mục</h3>
    <div class="container ">
        <div class="row " data-wow-duration="2s">
            @{
                if (Model.Products.Count() > 0)
                {
                    @foreach (var item in Model.Products)
                    {
                        string[] arrListStr = item.Image.Split(',');
                        var name = slugCovert.UrlFriendly(item.Name);
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                            <a asp-action="Product" asp-route-proId="@item.ProductID" asp-route-name="@Html.Raw(name)">
                                <div class="card-product">
                                    <div class="product-hover ">
                                        <img src="/@arrListStr[0]" alt=@item.Name asp-append-version="true" />
                                        <div class="card-tool w-100">
                                            <a class="card-tool-btn btn-1">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                </svg>
                                            </a>
                                            <a class="card-tool-btn btn-2">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
                                                    <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                                                    <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    @{
                                        if (item.SaleOff > 0)
                                        {
                                            <span class="card-top card-sale">Sale @Math.Ceiling((item.Price / item.SaleOff) * 100 - 100)%</span>
                                        }
                                        else if (item.Hot)
                                        {
                                            <span class="card-top card-new">NEW</span>
                                        }
                                        else if (item.Sort < 5)
                                        {
                                            <span class="card-top card-top">TOP</span>

                                        }
                                    }

                                    <div class="review">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                    </div>
                                    <p class="title-namesp">@item.Name</p>
                                    @{
                                        if (item.SaleOff > 0)
                                        {
                                            <p class="pricesp">@(item.SaleOff)đ  <del class="text-black-50">@(item.Price)đ</del></p>
                                        }
                                        else
                                        {
                                            <p class="pricesp">@(item.Price)đ</p>

                                        }
                                    }

                                </div>
                            </a>
                        </div>
                    }
                }
            }
        </div>

    </div>
</div>

<div>
    <h3 class="text-center mt-5 mb-5">Sản phẩm đã xem gần đây</h3>
    <div class="container ">
        <div class="row " data-wow-duration="2s">

            @{
                if (Model.ViewProducts.Count() > 0)
                {
                    if (ViewBag.view != null)
                    {
                        string[] arrListview = ViewBag.view.Split(',');
                        IEnumerable<string> abc = arrListview.GroupBy(a => a).Select(b => b.Key);
                        foreach (var lt in abc)
                        {
                            Console.WriteLine(lt);
                            @foreach (var item in Model.ViewProducts.Where(a => a.ProductID.ToString().Equals(lt)))
                            {
                                string[] arrListStr = item.Image.Split(',');
                                var name = slugCovert.UrlFriendly(item.Name);
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                    <a asp-action="Product" asp-route-proId="@item.ProductID" asp-route-name="@Html.Raw(name)">
                                        <div class="card-product">
                                            <div class="product-hover ">
                                                <img src="/@arrListStr[0]" alt=@item.Name asp-append-version="true" />
                                                <div class="card-tool w-100">
                                                    <a class="card-tool-btn btn-1">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                        </svg>
                                                    </a>
                                                    <a class="card-tool-btn btn-2">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-dash bi1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z" />
                                                            <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z" />
                                                            <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                            @{
                                                if (item.SaleOff > 0)
                                                {
                                                    <span class="card-top card-sale">Sale @Math.Ceiling((item.Price / item.SaleOff) * 100 - 100)%</span>
                                                }
                                                else if (item.Hot)
                                                {
                                                    <span class="card-top card-new">NEW</span>
                                                }
                                                else if (item.Sort < 5)
                                                {
                                                    <span class="card-top card-top">TOP</span>

                                                }
                                            }

                                            <div class="review">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                </svg>
                                            </div>
                                            <p class="title-namesp">@item.Name</p>
                                            @{
                                                if (item.SaleOff > 0)
                                                {
                                                    <p class="pricesp">@(item.SaleOff)đ  <del class="text-black-50">@(item.Price)đ</del></p>
                                                }
                                                else
                                                {
                                                    <p class="pricesp">@(item.Price)đ</p>

                                                }
                                            }

                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    }
                }
            }
        </div>

    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn chọn size</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img asp-append-version="true" src="https://storage.googleapis.com/cdn.nhanh.vn/store/3676/bn/sb_1597827289_122.jpg" alt="Hướng dẫn chọn size">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đặt câu hỏi về sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea rows="9" cols="60">  
...
</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

