@model figma.ViewModel.ReviewViewModel

@{
    if (Model.Article != null)
    {
        ViewData["Title"] = Model.Article.TitleMeta ?? "Review";
        ViewData["Description"] = Model.Article.DescriptionMetaTitle ?? "Sản phẩm";

        if (Model.Article.Image != null)
        {
            // ViewBag.ImagShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/products/", Model.Product.Image.Split(',')[0]);
            ViewBag.ImagShare = Model.Article.Image;
        }
    }
    else
    {
        ViewData["Title"] = "Review";
        ViewData["Description"] = "Sản phẩm";
    }
    SlugCovert slugCovert = new SlugCovert();
}

<div class="breadcrumb-shop">
    <div class="cpd5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
                <li class="breadcrumb-item active id_check_idsp" aria-current="page">Id_SP</li>
            </ol>
        </nav>
    </div>
</div>
<div id="reviewblog" class="ReviewDetail-page" data-style="style_01">
    <input type="hidden" id="rvInfo" value="">
    <div class="container">
        @{
            if (Model.Article != null)
            {
                <div class="row review-detail-wrapper">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 review-detail-post">
                        <div class="review-detail-post-title mb-4">
                            <div class="post-title wow animate__fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                                @Model.Article.Subject
                            </div>
                            <div class="post-info text-center mt-2 wow animate__fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                <span class="by">By Admin on </span>
                                <i class="far fa-window-minimize ml-2"></i>
                                <span class="date"> @Model.Article.CreateDate</span>
                                <span class="view"> <i class="far fa-eye"></i> @Model.Article.View Views</span>
                                <span class="cmt"><i class="far fa-comments"></i> 22 Bình luận</span>
                            </div>
                        </div>
                        <div class="review-blog">
                            @Html.Raw(Model.Article.Body)
                            <br />
                            <div class="share-social text-center">
                                <span class="font-weight-bold"> Share: &nbsp;</span>
                                <i class="fab fa-facebook-f mr-3"></i>
                                <i class="fab fa-twitter mr-3"></i>
                                <i class="fab fa-google-plus-g"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 review-detail-latest review-detail-post">

                        <div class="post-title w-100 mb-5">
                            LATEST POST
                        </div>
                        @{
                            if (Model.Articles != null)
                                foreach (var item in Model.Articles)
                                {
                                    <div class="review-detail-latest-content wow animate__fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s">
                                        <a style="text-decoration:none" asp-route-blogId=@item.Id asp-route-namearicle=@ViewBag.namearicle asp-route-name=@slugCovert.UrlFriendly(item.Subject) asp-action="Review">
                                            <div class="d-flex justify-content-between">
                                                <img loading="lazy" class="" src="~/@item.Image?quality=80&format=jpg" />
                                                <div class="">
                                                    <div class="title-main test2 mb-3 ml-2">@item.Subject</div>
                                                    <span class="date-info">@item.CreateDate.Date</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                        }                    
                        <div class="post-title w-100 mb-3 text-left">
                            Từ khóa
                        </div>
                        <div class="key-word container p-0">
                            <div class="row">
                                <div class="col-8">
                                    @{
                                        string[] arrListview = Model.Article.KeyWord.Split(',');
                                        if (arrListview.Length > 0)
                                            foreach (var item in arrListview)
                                            {
                                                if (item.Length > 0)
                                                {
                                                    <label>
                                                        @item
                                                    </label>
                                                }
                                            }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }

    </div>
</div>

<div>
    @await Component.InvokeAsync("TinTucList")
</div>
