
@model PaginatedList<figma.Models.Products>
@{
    ViewData["Title"] = "Kết quả tìm kiếm '" + ViewData["CurrentFilter"] + "'";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SlugCovert slugCovert = new SlugCovert();
}
<h2 class="text-center font-weight-bold">Tìm kiếm</h2>
@{
    if (Model.Count > 0)
    {
        <div class="text-center">
            Có @Model.Count sản phẩm cho tìm kiếm
        </div>
        <p>Kết quả tìm kiếm cho <strong>"@ViewData["CurrentFilter"]"</strong>.</p>
        <hr />
        @*<a asp-action="Search" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            <a asp-action="Search" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            <a asp-action="Search" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>*@
        <div class="container">
            <div class="row mt-3" data-wow-duration="2s">
                @{
                    if (Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            string[] arrListStr = item.Image.Split(',');
                            var name = slugCovert.UrlFriendly(item.Name);
                            var img1 = arrListStr[0].Contains("https:") ? arrListStr[0] : "/" + arrListStr[0] + "";
                            var img2 = arrListStr[1].Contains("https:") ? arrListStr[1] : "/" + arrListStr[1] + "";
                            <div class="col-md-3 col-sm-6 col-6 pro-loop">
                                <div class="card-product">
                                    <div class="product-img">
                                        <a asp-action="Product" asp-route-proId="@item.ProductID" asp-route-name="@Html.Raw(name)" title="@item.Name" class="image-resize" style="height: auto;">
                                            <picture>
                                                <source media="(max-width: 767px)" srcset="@img1?width=480&height=479&quality=80&format=jpg">
                                                <source media="(min-width: 768px)" srcset="@img1?width=480&height=480&quality=80&format=jpg">
                                                <img loading="lazy" class="img-loop" alt="@item.Name" src="@img1?width=480&height=480&quality=80&format=jpg" />
                                            </picture>

                                            <picture>
                                                <source media="(max-width: 767px)" srcset="@img2?width=480&height=480&quality=80&format=jpg">
                                                <source media="(min-width: 768px)" srcset="@img2?width=480&height=480&quality=80&format=jpg">
                                                <img loading="lazy" class="img-loop img-hover" alt="@item.Name" src="@img2?width=480&height=480&quality=80&format=jpg" />
                                            </picture>
                                        </a>
                                    </div>
                                    @{
                                        if (item.SaleOff > 0)
                                        {
                                            <span class="card-top card-sale">Sale @Math.Ceiling(100 - (item.SaleOff / item.Price) * 100)%</span>
                                        }
                                        else if (item.Hot)
                                        {
                                            <span class="card-top card-new">NEW</span>
                                        }
                                        else if (item.Sort < 5)
                                        {
                                            <span class="card-top card-top">TOP</span>

                                        }
                                    }

                                    <div class="review">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill start-review-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                    </div>
                                    <div class="product-detail clearfix">
                                        <div class="box-pro-detail">
                                            <h3 class="pro-name">
                                                <a href="" title="@item.Name">
                                                    @item.Name
                                                </a>
                                            </h3>
                                            <div class="box-pro-prices">
                                                <p class="pro-price highlight">

                                                    @{
                                                        if (item.SaleOff > 0)
                                                        {
                                                            <span class="giaban">@(item.SaleOff)đ</span>
                                                            <span class="pro-price-del"><del class="compare-price">@(item.Price)đ</del></span>

                                                        }
                                                        else
                                                        {
                                                            <span class="giaban">@(item.Price)đ</span>
                                                        }
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>;
                   }
                    }
                }
            </div>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="text-center">
                <a asp-action="Search"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-success @prevDisabled">
                    Trước
                </a>
                <a asp-action="Search"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-success @nextDisabled">
                    Sau
                </a>
            </div>
        </div>
    }
    else
    {
        if (ViewData["CurrentFilter"] != null)
        {
            <h2 class="font-weight-bold text-center"> Không tìm thấy nội dung bạn yêu cầu</h2>
            <p class="text-center"> Không tìm thấy "@ViewData["CurrentFilter"]".Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!</p>
        }
        <form asp-action="Search" class="text-center" method="get">
            <div class="form-actions no-color">
                <p>
                    Tìm kiếm theo tên sản phẩm:
                    <br />
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" style="height:38px;width:50%" />
                    <input type="submit" value="Search" class="btn btn-success mb-1" />
                </p>
            </div>
        </form>
    }
}
