@model figma.Models.ArticleCategories

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ArticleCategories</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategorySort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategorySort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionMeta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleCategorieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
