@model IEnumerable<figma.Models.ProductCategories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoverImage)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Soft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Home)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitleMeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionMeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Soft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Home)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleMeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionMeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductCategorieID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductCategorieID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductCategorieID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
