@model figma.Models.ArticleCategories

@{
    ViewData["Title"] = "ArticleCategories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ArticleCategories</h1>

<h4>ArticleCategories</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ArticleCategories">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group w-25">
                <label asp-for="CategorySort" class="control-label"></label>
                <input asp-for="CategorySort" class="form-control" min="0" />
                <span asp-validation-for="CategorySort" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="CategoryActive" class="form-control"></label>
                <input class="form-check-input" type="checkbox" asp-for="CategoryActive" min="0" max="1" />
                <span asp-validation-for="CategoryActive" class="text-danger"></span>

            </div>

            @*<div class="form-group">
                    <label asp-for="ParentId" class="control-label"></label>
                    <input asp-for="ParentId" class="form-control" />
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShowHome" /> @Html.DisplayNameFor(model => model.ShowHome)
                </label>
            </div>
            @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ShowMenu" /> @Html.DisplayNameFor(model => model.ShowMenu)
                    </label>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>*@
            @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Hot" /> @Html.DisplayNameFor(model => model.Hot)
                    </label>
                </div>*@
            <div class="form-group">
                <label asp-for="TitleMeta" class="control-label"></label>
                <input asp-for="TitleMeta" class="form-control" />
                <span asp-validation-for="TitleMeta" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="DescriptionMeta" class="control-label"></label>
                <input asp-for="DescriptionMeta" class="form-control" style="height:300px" />
                <span asp-validation-for="DescriptionMeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>Danh mục bài viết</p>

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên danh mục
            </th>

            <th>
                Hoạt động
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            @foreach (var item in ViewBag.atgory)
            {
                <tr>
                    <td>
                        @item.CategorySort
                    </td>
                    <td>
                        @item.CategoryName
                    </td>

                    <td>

                        <input class="form-check-input" />@item.CategoryActive

                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TagID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TagID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TagID">Delete</a>
                    </td>
                </tr>
            }
        }
        catch (Exception)
        {


        }

    </tbody>
</table>



