@model figma.Models.ArticleCategorys

@{
    ViewData["Title"] = "ArticleCategories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    if (TempData["result"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Message: @TempData["result"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h4>ArticleCategories</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ArticleCategories">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>*@
            <div class="form-group w-25">
                <label asp-for="CategorySort" class="control-label"></label>
                <input asp-for="CategorySort" class="form-control" min="0" />
                <span asp-validation-for="CategorySort" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CategoryActive" /> @Html.DisplayNameFor(model => model.CategoryActive)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShowHome" /> @Html.DisplayNameFor(model => model.ShowHome)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TitleMeta" class="control-label"></label>
                <input asp-for="TitleMeta" class="form-control" />
                <span asp-validation-for="TitleMeta" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="DescriptionMeta" class="control-label"></label>
                <input asp-for="DescriptionMeta" class="form-control" style="height:200px" />
                <span asp-validation-for="DescriptionMeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>Danh mục bài viết</p>

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên danh mục
            </th>

            <th>
                Hoạt động
            </th>
            <th>
                Tính năng
            </th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            @foreach (var item in ViewBag.atgory)
            {
                <tr>
                    <td>
                        @item.CategorySort
                    </td>
                    <td>
                        @item.CategoryName
                    </td>

                    <td>
                        @if (item.CategoryActive)
                        {
                            <span class="btn btn-danger">Hoạt động</span>
                        }
                        else
                        {
                            <span class="btn btn-danger">Chưa Active</span>

                        }
                    </td>

                    <td>
                        <a class="btn btn-success" asp-action="ArticleCategoriesEdit" asp-route-id="@item.ArticleCategoryId">Edit</a> |
                        <a class="btn btn-success" onclick="deleteLC(@item.ArticleCategoryId)">Delete</a>
                        <script>
                            function deleteLC(id) {
                                if (confirm("Bạn có chắc chắn xóa không?")) {
                                    $.post("/Csm/ArticleCategoriesDelete", { id: id }, function (data) {
                                        if (data) {
                                            if (confirm("Xóa thành công"))
                                                window.location.assign('/Csm/ArticleCategories')
                                        } else {
                                            alert("Quá trình thực hiện không thành công. Hãy thử lại");
                                        }
                                    });
                                }
                            }
                        </script>
                    </td>
                </tr>
            }
        }
        catch (Exception)
        {


        }

    </tbody>
</table>



