@model IEnumerable<figma.Models.Article>

@{
    ViewData["Title"] = "ListAticle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách bài viết</h1>
@{
    if (TempData["result"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Message: @TempData["result"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<p>
    <a asp-action="AticleCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                <td>
                    @if (item.Image != null)
                    {
                        if (item.Image.Contains("https"))
                        {
                            <img src="@item.Image" asp-append-version="true" />
                        }
                        else
                        {
                            <img src="/@item.Image" asp-append-version="true" height="235" width="350" />
                        }
                    }
                    else
                    {


                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.View)
                </td>
                <td>
                    @if (item.Active)
                    {<span class="btn btn-danger">Hoạt động</span>}
                    else
                    {<span class="btn btn-danger">Kích hoạt</span>}
                </td>

                <td>
                    <a class="btn btn-success" asp-action="ArticleEdit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-success" onclick="deleteLC(@item.Id)">Delete</a>
                    <script>
                        function deleteLC(id) {
                            if (confirm("Bạn có chắc chắn xóa không?")) {
                                $.post("/Csm/ArticleDelete", { id: id }, function (data) {
                                    if (data) {
                                        if (confirm("Xóa thành công"))
                                            window.location.assign('/Csm/ListAticle')
                                    } else {
                                        alert("Quá trình thực hiện không thành công. Hãy thử lại");
                                    }
                                });
                            }
                        }
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>
