@model figma.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    label {
        font-weight: bold;
    }
</style>

<h4>Chỉnh sửa</h4>
<hr />
<div class="">
    <form asp-controller="Csm" asp-action="createImage"
          enctype="multipart/form-data" onchange="AJAXSubmitCreate(this,963,720);return false;"
          method="post">
        <div class="form-group bg-white font-weight-bold">
            <div class="section-image-title d-flex justify-content-between">
                <p class="text-danger mt-3 mb-1 ml-5">Ảnh sản phẩm</p>
                <span asp-validation-for="Image" class="text-danger"></span>

                <div class="m-3 ml-1">
                    <a class="">
                        <input id="filesadd" accept="image/*" name="filesadd" type="file" multiple />@*Thêm ảnh từ máy tính*@
                    </a>
                </div>
            </div>
            <div class="section-image-list insert-one container">
                <div class="row">
                    @{
                        if (Model.Image != null)
                        {
                            string[] arrListStr = Model.Image.Split(',');
                            for (int i = 0; i < arrListStr.Length; i++)
                            {
                                <div class="col-3 mb-3 position-relative">
                                    <a data-image="@arrListStr[i]" data-fancybox="gallery" class="@arrListStr[i]" href="/@arrListStr[i]">
                                        <img style="max-width:100%" class="" src="/@arrListStr[i]" />
                                        <span class="show--image-edit">Xem ảnh</span>
                                        <i class="far fa-eye show--image-edit i--one"></i>
                                    </a>
                                    <i class="fas fa-trash"></i>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </form>



    <form class="" asp-action="ProductsEdit" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="ProductID" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group bg-white font-weight-bold d-none">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                    </div>

                    <div class="form-group ">
                        <label asp-for="ProductCategorieID" class="control-label"></label>
                        <select asp-for="ProductCategorieID" class="form-control" asp-items="ViewBag.ProductCategorieID"></select>
                        <span asp-validation-for="ProductCategorieID" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="CollectionID" class="control-label"></label>
                        <select asp-for="CollectionID" class="form-control" asp-items="ViewBag.CollectionID"></select>
                        <span asp-validation-for="CollectionID" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Factory" class="control-label"></label>
                        <input asp-for="Factory" class="form-control" />
                        <span asp-validation-for="Factory" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Hot" /> @Html.DisplayNameFor(model => model.Hot)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Home" /> @Html.DisplayNameFor(model => model.Home)
                        </label>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Sort" class="control-label"></label>
                        <input asp-for="Sort" class="form-control" />
                        <span asp-validation-for="Sort" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleMeta" class="control-label"></label>
                        <input asp-for="TitleMeta" class="form-control" />
                        <span asp-validation-for="TitleMeta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BarCode" class="control-label"></label>
                        <input asp-for="BarCode" class="form-control" />
                        <span asp-validation-for="BarCode" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input asp-for="CreateDate" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="CreateBy" class="control-label"></label>
                        <input asp-for="CreateBy" class="form-control" />
                        <span asp-validation-for="CreateBy" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="SaleOff" class="control-label"></label>
                        <input asp-for="SaleOff" class="form-control" />
                        <span asp-validation-for="SaleOff" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="QuyCach" class="control-label"></label>
                        <input asp-for="QuyCach" class="form-control" />
                        <span asp-validation-for="QuyCach" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="StatusProduct" /> @Html.DisplayNameFor(model => model.StatusProduct)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group bg-white">
            <label asp-for="Body" class="control-label"></label>
            <div id="Body"></div>
            <input type="hidden" asp-for="Body" class="form-control" />
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <div class="form-group bg-white">
            <label asp-for="GiftInfo" class="control-label"></label>
            <div id="GiftInfo"></div>
            <input type="hidden" asp-for="GiftInfo" class="form-control" />
            <span asp-validation-for="GiftInfo" class="text-danger"></span>
        </div>
        <div class="form-group bg-white">
            <label asp-for="Content" class="control-label"></label>
            <div id="Content"></div>
            <input type="hidden" asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionMeta" class="control-label"></label>
            <input asp-for="DescriptionMeta" class="form-control" />
            <span asp-validation-for="DescriptionMeta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

