@model figma.Models.ProductCategories

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h4>ProductCategories</h4>
<hr />


<form asp-controller="Products" asp-action="createImage" enctype="multipart/form-data" onchange="AJAXSubmitCreateOne(this,100,100);return false;" method="post">
    <div class="form-group bg-white font-weight-bold">

        <div class="section-image-title d-flex justify-content-between">
            <p class="text-danger mt-3 mb-1">Biểu tượng</p>
            <div class="m-3 ml-1">
                <a class="">
                    <input id="filesadd" accept="image/*" name="filesadd" type="file" />
                </a>
                <script>
                </script>
            </div>
        </div>
        <div class="section-image-list add-image-0 container">
            <div class="row">
                @{
                    if (Model.Image != null)
                    {
                        string[] arrListStr = Model.Image.Split(',');
                        for (int i = 0; i < arrListStr.Length; i++)
                        {
                            <div class="col-3 mb-3 position-relative">
                                <a data-image="@arrListStr[i]" data-fancybox="gallery" class="@arrListStr[i]" href="/@arrListStr[i]">
                                    <img style="max-width:100%" class="" src="/@arrListStr[i]" />
                                    <span class="show--image-edit">Xem ảnh</span>
                                    <i class="far fa-eye show--image-edit i--one"></i>
                                </a>
                                <i class="fas fa-trash"></i>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</form>


<form asp-controller="Products" asp-action="createImage" enctype="multipart/form-data" onchange="AJAXSubmitCreate(this,720,1280);return false;" method="post">
    <div class="form-group bg-white font-weight-bold">
        <div class="section-image-title d-flex justify-content-between">
            <p class="text-danger mt-3 mb-1">Ảnh Banner</p>
            <div class="m-3 ml-1">
                <a class="">
                    <input id="filesadd" accept="image/*" name="filesadd" type="file" multiple />

                </a>
                <script>
                </script>
            </div>
        </div>
        <div class="section-image-list add-image-1 container">
            <div class="row">
                @{
                    if (Model.CoverImage != null)
                    {
                        string[] arrListStr = Model.CoverImage.Split(',');
                        for (int i = 0; i < arrListStr.Length; i++)
                        {
                            <div class="col-3 mb-3 position-relative">
                                <a data-image="@arrListStr[i]" data-fancybox="gallery" class="@arrListStr[i]" href="/@arrListStr[i]">
                                    <img style="max-width:100%" class="" src="/@arrListStr[i]" />
                                    <span class="show--image-edit">Xem ảnh</span>
                                    <i class="far fa-eye show--image-edit i--one"></i>
                                </a>
                                <i class="fas fa-trash"></i>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</form>

<div class="">
    <form asp-action="ProductCategoriesEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductCategorieID" />
        <div class="form-group w-25">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group d-none">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group d-none">
            <label asp-for="CoverImage" class="control-label"></label>
            <input asp-for="CoverImage" class="form-control" />
            <span asp-validation-for="CoverImage" class="text-danger"></span>
        </div>
        <div class="form-group w-50">
            <label asp-for="Url" class="control-label"></label>
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <div class="form-group w-25">
            <label asp-for="Soft" class="control-label"></label>
            <input asp-for="Soft" class="form-control" />
            <span asp-validation-for="Soft" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Home" /> @Html.DisplayNameFor(model => model.Home)
            </label>
        </div>
        <div class="form-group w-25">
            <label asp-for="ParentId" class="control-label"></label>
            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                <option value="">Danh mục cha</option>
            </select>            <span asp-validation-for="ParentId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TitleMeta" class="control-label"></label>
            <input asp-for="TitleMeta" class="form-control" />
            <span asp-validation-for="TitleMeta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionMeta" class="control-label"></label>
            <div id="toolbar-containerDescriptionMeta"></div>
            <div id="editorDescriptionMeta" class="bg-white"></div>

            <input type="hidden" asp-for="DescriptionMeta" class="form-control" />
            <script>
                var d = '' + $("#DescriptionMeta").val() + '';
            </script>
            <span asp-validation-for="DescriptionMeta" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Body" class="control-label"></label>
            <div id="toolbar-container"></div>
            <div id="editor" class="bg-white"></div>
            <input type="hidden" asp-for="Body" class="form-control" />
            <script>
                var h = '' + $("#Body").val() + '';

            </script>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


