@model figma.Models.ProductSizeColor

@{
    ViewData["Title"] = "DeleteSC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có thực sự muốn xóa ?</h3>
<div>
    <h4>ProductSizeColor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.NameColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.SizeProduct)
        </dd>
    </dl>

    <form asp-action="ProductsDeleteSC">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
