@model figma.ViewModel.ProductSCViewModel

@{
    ViewData["Title"] = "ProductsSCIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    if (TempData["StatusMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Message: @TempData["StatusMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<p>
    <a asp-action="ProductsSCCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Màu sắc
            </th>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            @foreach (var item in Model.ProductSizeColors)
            {
                <tr>
                    <td>
                        @foreach (var item1 in Model.Products.Where(a=>a.ProductID==item.ProductID))
                        {
                            if (item1.ProductID == item.ProductID)
                            {
                                @Html.DisplayFor(modelItem => item1.Name)
                            }
                            break;
                        }
                    </td>
                    <td>

                        @*@{
                                if (item.Products.Image != null)
                                {
                                    string[] arrListStr = item.Products.Image.Split(',');
                                    <img width="80" height="80" asp-append-version="true" src="/@arrListStr[0]" />
                                }
                            }*@

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.NameColor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size.SizeProduct)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="ProductsSCEdit" asp-route-id="@item.Id">Edit</a> |
                        @*<a asp-action="ProductsSCDetails" asp-route-id="@item.Id">Details</a> |*@
                        <a class="btn btn-danger" onclick="deleteLC(@item.Id)">Delete</a>
                        <script>
                            function deleteLC(id) {
                                if (confirm("Bạn có chắc chắn xóa không?")) {
                                    $.post("/Csm/ProductsSCDelete", { id: id }, function (data) {
                                        if (data) {
                                            if (confirm("Xóa thành công"))
                                                window.location.assign('/Csm/ProductsSCIndex')
                                        } else {
                                            alert("Quá trình thực hiện không thành công. Hãy thử lại");
                                        }
                                    });
                                }
                            }
                        </script>
                    </td>
                </tr>
            }
    </tbody>
</table>
