@model IEnumerable<figma.Models.ProductSizeColor>

@{
    ViewData["Title"] = "IndexSC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách màu và size</h1>
<p>
    <a class="btn btn-success" asp-action="ProductsCreateSC" asp-route-id="@ViewBag.idsp">Thêm mới</a>
</p>

@{
    if (TempData["StatusMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Message: @TempData["StatusMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.NameColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.SizeProduct)
                </td>
                <td>
                    @*<a class="btn btn-success" asp-action="ProductsCreateSC" asp-route-id="@item.Id">Edit</a> |*@
                    <a class="btn btn-success" asp-action="ProductsEditSC" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-success" onclick="deleteLC(@item.Id)">Delete</a>
                    <script>
                        function deleteLC(id) {
                            if (confirm("Bạn có chắc chắn xóa không?")) {
                                $.post("/Csm/ProductsDeleteSC", { id: id }, function (data) {
                                    if (data) {
                                        if (confirm("Xóa thành công"))
                                            window.location.assign('/Csm/ProductsSC?idsp='+@item.ProductID+'')
                                    } else {
                                        alert("Quá trình thực hiện không thành công. Hãy thử lại");
                                    }
                                });
                            }
                        }
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>
