@model figma.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thông tin sản phẩm</h1>





<div class="bg-white">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">


            @*@{

                string[] arrListStr = Model.Image.Split(',');
                for (int i = 0; i < arrListStr.Length; i++)
                {
                    <img class="w-10 h-10" src="/@arrListStr[i]" />
                }
            }*@


            @*@Html.DisplayFor(model => model.Image)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleOff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleOff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuyCach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuyCach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Home)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Home)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleMeta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleMeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionMeta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionMeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiftInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiftInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusProduct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collection.CollectionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategories.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
